.carousel-container {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    white-space: nowrap;
    will-change: transform;
}

.carousel-track img {
    width: var(--image-width);
    height: var(--image-height);
    object-fit: cover;
    margin-right: var(--image-margin);
    flex-shrink: 0;
    border-radius: 8px;
}

.text-wrapper {
    margin: 0 auto;
    margin-bottom: 8px;
    width: 880px;
    height: auto;
    text-align: justify;
}

.section-2,
.section-food,
.section-art {
    width: 100%;
    margin: 0 auto;
    padding: 24px 0px;
}

.section-food {
    position: relative;
    background-image: url(../img/Background/bg-food.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.section-food::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.section-food>.container {
    position: relative;
    z-index: 2;
}

.food-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-flex,
.foods {
    max-width: 1400px;
    margin: 0 auto;
}

.box-f {
    width: 452px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-f {
    font-size: 72px;
    font-weight: bolder;
}

.food-info {
    width: 480px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
}

.food-grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    border-radius: 8px;
}

.actives {
    margin: 24px;
    margin-bottom: 0px;
}

.food-card {
    display: none;
}

.food-card.active {
    display: block;
}

.food-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.food-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}

.ribbon {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #F163FF;
    color: white;
    border-radius: 16px;
    padding: 4px 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.food-infor {
    position: absolute;
    margin: 12px;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F3F3F3;
    padding: 8px 8px 8px 20px;
    border-radius: 0px 20px 0px 0px;
    opacity: 90%;
}

.food-infor h3 {
    color: #A5190E;
    font-size: 32px;
    font-weight: bold;
}

.food-infor span {
    background-color: #FBD3FF;
    color: #6d0ad0;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
    text-transform: uppercase;
}

.btn {
    margin-top: 20px;
    position: relative;
    width: 100%;
    text-align: center;
}

.btn-more {
    width: auto;
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    height: 50px;
    min-width: 150px;
    color: #fff;
    transition: all .3s ease;
}

.bg-red-corners {
    background-image: url(../img/Button/bg-red-tl.jpg),
        url(../img/Button/bg-red-tr.jpg),
        url(../img/Button/bg-red-br.jpg),
        url(../img/Button/bg-red-bl.jpg);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-color: #a5190e;
    border-radius: 5px;
    position: relative;
}

.bg-red-corners::after {
    border: 1px solid #f7bd01;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
}

.btn-more:hover {
    box-shadow: 0 2px 12px rgb(0 0 0 / .8);
}

.carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px 0px;
}

.carousel-tracks {
    display: flex;
    width: max-content;
    will-change: transform;
    transition: transform 0.1s linear;
}

.container-flex {
    gap: 8px;
    display: flex;
}

.flex-box {
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 800px;
}

.art-flex {
    display: flex;
    gap: 8px;
    width: 50%;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.grid-2 img {
    height: 50%;
}

.grid-3 img {
    height: calc(100% / 3);
}

.grid-1 img {
    height: 100%;
}

.grid-item img {
    object-fit: cover;
    object-position: center;
}